.d-none {
    display: none;
}

.headline-board-continaer {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 35px;
    position: absolute;
    width: 685px;
    height: 327px;
    left: 267px;
    top: 57px;
}

.headline-board {
    width: 176px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
}

.input {
    box-sizing: border-box;
    flex-direction: row;
    width: 251px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}

.bnt-board {
    color: #FFFFFF;
    margin-left: 35px;
    box-sizing: border-box;
    justify-content: center;
    width: 137px;
    height: 51px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;

}

.dad-container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 35px;
    position: absolute;
    width: 685px;
    height: auto;
    left: 267px;
    top: 370px;
}

.input-container {
    z-index: 1;
    justify-content: space-between;
    top: 60px;
    display: flex;
    position: absolute;
    width: 1116px;
    height: 700px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.selections {
    height: 420PX;
    justify-content: space-between;
    margin-left: 74px;
    margin-top: 156PX;
    display: flex;
    flex-direction: column;
}

.selections-sec {
    height: 300PX;
    justify-content: space-between;
    margin-left: 614px;
    margin-top: 155PX;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.title {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 422px;
    height: 51px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.description {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 119px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    flex-grow: 0;
}

.category {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.assigned-to {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.due-date {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.subtask {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: none;
    flex-grow: 0;
}

.status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 422px;

}

.urgent-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.medium-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 130px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.low-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.bnts {
    display: flex;
    justify-content: space-between;
    margin-top: 63vh;
    margin-right: 78px;
    width: 390px;
}

.bnt-cancel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 177px;
    height: 61px;
    background: #F5F5F5;
    border-radius: 10px;
    flex: none;
    order: 1;
    color: #2A3647;
    flex-grow: 0;
}

.bnt-Task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 177px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    flex: none;
    order: 1;
    color: white;
    flex-grow: 0;
}

.check-symbol {
    height: 12px;
    width: 16px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 19px;
    gap: 10px;
    width: 250px;
    height: 239px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.test{
    color: #000000;
    font-size: 20px;
}