@media screen and (max-width: 1669px) {
    .bnts {
        top: 72%;
    }
}

@media screen and (max-width: 1094px) {
    .selections {
        margin-top: 15%;
    }

    .selections-sec {
        margin-top: 9%;
    }
}

@media screen and (max-width: 1048px) {}

@media screen and (max-width: 1047px) {
    .bnts {
        display: flex;
        flex-direction: column-reverse;
        margin-top: -53%;
        gap: 10px;
    }

    .title-in-Prio {
        margin-top: 20px;
    }

    .status {
        flex-direction: column;
        margin-top: 24px;
        margin-left: -44%;
    }

    .selections {
        margin-top: 5.5%;
    }

    .sec-tow {
        margin-top: 70px;
    }

    .title-in-form {
        margin-top: 81px;
    }

    .new-formular {
        margin-top: 20%;
        width: 130%;
    }

    .fix-due-date {
        margin-top: 5% !important;
    }

    .responsive-Status {
        margin-left: -39%;
        margin-top: 3%;
    }

    .bnts-responsive {
        margin-left: -3%;
        margin-top: -42%;
    }

    .new-selections {
        margin-top: 9%;
        height: 75%;
    }

    .new-vertical-line {
        margin-top: 42px !important;
    }
}



@media screen and (max-width: 810px) {
    .input-container {
        position: absolute;
        left: 0;
        height: 73%;
        top: 136px;
        width: 100%;
    }

    .new-formular {
        margin-top: 12%;
        margin-left: 15%;
    }

    .input-container2 {
        z-index: 0;
    }
}

@media screen and (max-width: 825px) {
    .input-feld {
        margin-right: 0%;
    }
}

@media screen and (max-width: 625px) {
    .new-formular {
        margin-left: -8%;
    }
}

@media screen and (max-width: 597px) {
    .input-feld {
        display: flex;
    }
}

@media screen and (max-width: 500px) {

    .due-date {
        width: 111%;
    }

    .category {
        width: 101.9%;
    }

    .form-select {
        width: 101.9% !important;
    }

    .input-container {
        overflow: auto;
        display: flex;
        flex-direction: column;
        height: 78%;
        margin-top: -5%;
    }

    .selections-sec {
        margin-top: 172px;
        margin-right: 9%;
    }

    .vert-line {
        display: none;
    }

    .selections {
        width: auto;
        margin-top: 10%;
        margin-right: 5%;
    }

    .new-selections {
        margin-top: 44%;
    }

    .sec-tow {
        width: auto;
        margin-top: -50px;
    }

    .status {
        margin-top: 10px;
        display: flex;
        margin-right: -10%;
        margin-left: 0%;
        flex-direction: initial;
    }

    .bnts {
        margin-top: -14%;
        display: flex;
        flex-direction: initial;
        width: 113%;
    }

    .new-formular {
        display: flex;
        flex-direction: column;
        margin-top: 31%;
        margin-left: -5%;
        overflow: auto;
        width: auto;
    }

    .fix-due-date {
        width: 79%;
        margin-left: 5%;
        margin-top: 66px !important;

    }

    .responsive-Status {
        margin-left: -1%;
    }
}

@media screen and (max-width: 461px) {
    .new-selections {
        margin-top: 53%;
    }

    .new-formular {
        width: 83%;
    }
}

@media screen and (max-width: 520px) {
    .headline-board-continaer {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
}

@media screen and (max-width: 375px) {

    .category {
        width: 100%;
    }

    .form-select {
        width: 100% !important;
    }

    .headline-board-continaer {
        margin-left: -14px;
        flex-direction: column;
        align-items: baseline;
        margin-top: 30px;
    }

    .new-formular {
        display: flex;
        flex-direction: column;
        overflow: auto;
        margin-top: 17%;
        margin-left: -4%;
    }

    .selections {
        margin-top: 8%;
    }

    .new-selections {
        margin-top: 85%;
    }

    .title {
        width: 98%;
    }

    .description {
        width: 98%;
    }

    .due-date {
        width: 111%;
    }

    .new-due-date{
        width: 110%;
    }
    .selections-sec {
        margin-top: 55%;
        width: 88%;
    }

    .fix-due-date {
        margin-top: 24% !important;
        width: 81%;
    }

    .input-container {
        margin-top: -10%;
    }
}