.d-none {
    display: none;
}

.board-container {
    margin-top: 188px;
    align-items: baseline;
    justify-content: center;
    display: flex;
    margin-left: 166px;
}

.container-Board {
    width: 93%;
}

.headline-board-continaer {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 35px;
    width: 1200pxpx;
}

.headline-board {
    width: 176px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
}

.input {
    box-sizing: border-box;
    flex-direction: row;
    width: 251px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}

.bnt-board {
    color: #FFFFFF;
    margin-left: 35px;
    box-sizing: border-box;
    justify-content: center;
    width: 137px;
    height: 51px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
}

.dad-container {
    justify-content: space-between;
    display: flex;
    padding: 35px;
}

html {
    overflow: hidden;
    font-family: 'Inter' !important;
}

.circle-name {
    color:#FFFFFF;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 100%;
}

.input-container {
    z-index: 1;
    justify-content: space-between;
    top: 150px;
    display: flex;
    position: absolute;
    width: 60%;
    height: 600px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 30px;
    left: 25%;
}

.input-container2 {
    z-index: 1;
    justify-content: space-between;
    top: 40px;
    display: flex;
    position: absolute;
    width: 90%;
    height: 750px;
}

.selections {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: -6px;
    height: 70%;
    width: 42%;
    margin-top: 11%;
    margin-left: 5%;
}

.selections-sec {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: -6px;
    height: 44.5%;
    margin-top: 13%;
}

.long-vertical-line {
    height: 475px;
    margin-top: 104px;
}

.headlinetask-container {
    display: flex;
    position: absolute;
    margin-left: 5%;
    margin-top: 2.5%;
    justify-content: space-between;
    width: 91%;
}

.close-button {
    height: 23px;
}

.headline-task {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
}

.title {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 51px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 5px;
}

.description {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    height: 119px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    flex-grow: 0;
}

.form-container {
    width: 98%;
    display: flex;
    flex-direction: column;
}

.category {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    isolation: isolate;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.assigned-to {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    isolation: isolate;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.due-date {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.subtask {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: none;
    flex-grow: 0;
}

.status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.urgent-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
}

.urgent-status:hover {
    box-shadow: 3px 3px rgb(232, 232, 232)
}

.backgorund-urgent-status {
    font-weight: 800;
    color: #FFFFFF;
    background-color: #FF3D00;
}

.img-urgent-color-change {
    filter: brightness(6) sepia(1);
}

.medium-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 130px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
}

.medium-status:hover {
    box-shadow: 3px 3px rgb(232, 232, 232)
}

.backgorund-medium-status {
    font-weight: 800;
    color: #FFFFFF;
    background-color: #FFA800;
}

.img-medium-color-change {
    filter: brightness(6) sepia(1);
}

.low-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
}

.low-status:hover {
    box-shadow: 3px 3px rgb(232, 232, 232)
}

.backgorund-low-status {
    font-weight: 800;
    color: #FFFFFF;
    background-color: #7AE229;
}

.img-low-color-change {
    filter: brightness(6) sepia(1);
}

.formular {
    display: flex;
    justify-content: space-evenly;
    width: 150%;
    height: 71%;
}

.formular2{
    display: flex;
    justify-content: space-evenly;
    width: 150%;
    height: 71%;
}

.sec-tow{
    width: 40%;
    margin: 6%;
}

.bnts {
    top: 76%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.bnt-cancel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 140px;
    height: 50px;
    background: #F5F5F5;
    border-radius: 10px;
    flex: none;
    order: 1;
    color: #2A3647;
    flex-grow: 0;
}

.bnt-Task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 150px;
    height: 50px;
    background: #2A3647;
    border-radius: 10px;
    flex: none;
    order: 1;
    color: white;
    flex-grow: 0;
}

.vert-line{
    margin-left: 25px;
}

.check-symbol {
    height: 12px;
    width: 16px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 19px;
    gap: 10px;
    width: 250px;
    height: 239px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.main-contant-todo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 30%;
}

.contant-card {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px 19px;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.category-desing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 25px;
    gap: 10px;
    width: 103px;
    height: 27px;
    background: #c42d2d;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
}

.title-desing {
    font-family: 'Inter';
    font-size: 22px;
}

.descriptoin-desing {
    font-family: 'Inter';
    color: #A8A8A8;
    font-size: 15px;

}

.assingtTo-desing {
    font-family: 'Inter';
    font-size: 22px;
  
    justify-content: center;
    align-items: center;
}

.desing-assingt{
    display: flex;
    flex-wrap: wrap;
}

.pros-desing {
    width: 25px;
    margin-left: 85%;
}

.test{
    display: flex;
  align-items: stretch;
}

.add-todo-task {
    position: relative;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 19px;
    gap: 10px;
    width: 35%;
    height: 239px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.title-card {
    font-family: 'Inter';
}

.description-card {
    font-family: 'Inter';
    font-size: 18px;
    color: #A8A8A8;
}

.img-prios {
    width: 20px;
    margin-left: 85%;
}

.animation {
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;

    }

    to {
        margin-left: 0%;
        filter: drop-shadow(-1000px 1000px 1000px rgb(85, 85, 85));

    }

}