
@media screen and (max-width: 597px) {
    .d-board {
        overflow: auto;
    }

    .main {
        display: contents;
    }

    .h3-Task {
        margin-top: 48px;
        font-size: 135%;
        display: flex;
        justify-content: center;
    }

    .add-button {
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }
    
    .second{
        height: 50%;
    }

}

@media screen and (max-width: 825px) {
    .main {
        justify-content: space-around;
        height: 60%;
        width: 90%;
        margin-left: 4%;
    }
}