.main {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.second {
    border: solid grey;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.list-item {
    width: 100%;
    height: 250px;
    background-color: grey;
}

.list {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}