/* GLOBAL-STYLES */
/*#region*/
.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-form-background);
}

.form-input-container {
    width: 422px;
    min-height: 71px;
    margin-bottom: 29px;
}

.form-input-box {
    width: 422px;
    height: 51px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 13px 21px;
    cursor: pointer;
}

.form-input-box input {
    width: 100%;
    height: 25px;
    border: none;
    outline: none;
    font-size: 21px;
    cursor: pointer;
}

form h1 {
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.separator {
    width: 157px;
    height: 35px;
    border-top: 3px solid #29abe2
}

button {
    font-family: 'Inter', sans-serif;
}
/*#endregion*/

/* JOIN CONTAINER ANIMATION - OPACITY*/
/*#region*/
.join-animation-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.join-animation-container-animate {
    animation: animateJoinLogoContainer 2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes animateJoinLogoContainer {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}
/*#endregion*/

/* JOIN LOGO ANIMATION - MOVE*/
/*#region*/
.join-logo {
    position: fixed;
    left: 5.35%;
    right: 87.71%;
    top: 7.81%;
    bottom: 80.28%;
    width: 101px;
    height: 122px;
}

.join-logo-start {
    width: 101px;
    height: 122px;
    position: absolute;
    top: 50vh;
    left: 50%;
    margin-left: -50.5px;
    margin-top: -61px;
    scale: 2;
}

.join-logo-animate-gray {
    animation: animateJoinLogoGray 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes animateJoinLogoGray {
    0% {
        scale: 2;
        z-index: 10;
    }

    100% {
        left: 5.35%;
        right: 87.71%;
        top: 7.81%;
        bottom: 80.28%;
        scale: 1;
        margin-top: 0;
        margin-left: 0;
    }
}

.join-logo-animate-white {
    animation: animateJoinLogoWhite 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes animateJoinLogoWhite {
    0% {
        scale: 2;
        z-index: 9;
        opacity: 0;
    }

    100% {
        left: 5.35%;
        right: 87.71%;
        top: 7.81%;
        bottom: 80.28%;
        scale: 1;
        margin-top: 0;
        margin-left: 0;
        opacity: 0;
    }
}
/*#endregion*/

/* LOG-IN PAGE - NOT A JOIN USER? - SIGN UP */
/*#region*/
.no-join-user-box {
    width: 287px;
    height: 51px;
    position: absolute;
    top: 67px;
    right: 114px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 35px;
}

.no-join-user-box span {
    width: 161px;
    /* height: 25px; */
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #000000;
}

.sign-up-btn {
    width: 91px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    background: var(--color-background);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}
/*#endregion*/

/* LOG-IN PAGE */
/*#region*/
.form-login-box {
    width: 652px;
    height: 513px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

#form-login-box-h1 {
    width: 315px;
    height: 97px;
}

.form-input-container span {
    color: red;
    font-size: 12px;
}

.form-btn-box-login {
    width: 341px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
}

/*Avoid internal-autofill-selected:
  https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
/*#endregion*/

/* REMEMBER ME - FORGOT PASSWORD*/
/*#region*/
.remember-forgot-password-container {
    width: 335px;
    height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 6px;
    margin-bottom: 35px;
    padding: 0px;
    gap: 35px;
}

.remember-box {
    width: 146px;
    height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.remember-box input {
    width: 16px;
    height: 16px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin: 0;
}

.remember-box span {
    width: 110px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

.remember-forgot-password-container a {
    width: 154px;
    height: 19px;
    color: #29ABE2;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}
/*#endregion*/

/* LOG IN - GUEST LOG IN - BUTTONS */
/*#region*/
.form-btn-user {
    width: 145px;
    height: 51px;
    padding: 4px 0px;
    background: var(--color-background);
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    color: #FFFFFF;
}

.form-btn-guest {
    width: 164px;
    height: 51px;
    border: 1px solid var(--color-background);
    border-radius: 8px;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
    color: var(--color-background);
    background: white;
}
/*#endregion*/

/* SIGN-UP PAGE */
/*#region*/
.form-signup-box {
    width: 652px;
    height: 559px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 29px 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

#form-signup-box-h1 {
    width: 315px;
    height: 97px;
}

.signup-arrow-left-box {
    width: 37px;
    height: 37px;
    position: absolute;
    left: 31px;
    top: 35px;
    cursor: pointer;
    z-index: 3;
}

.form-btn-signup {
    width: 145px;
    height: 51px;
    padding: 4px 0px;
    background: var(--color-background);
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    color: #FFFFFF;
    margin-top: 6px;
}
/*#endregion*/

/* FORGOT-PASSWORD PAGE*/
/*#region*/
.form-forgot-password-box {
    width: 826px;
    height: 462px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 85px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.forgot-password-arrow-left-box {
    width: 37px;
    height: 37px;
    position: absolute;
    left: 31px;
    top: 35px;
    cursor: pointer;
    z-index: 4;
}

#form-forgot-password-box-h1 {
    width: 626px;
    height: 97px;
}

.form-forgot-password-box span {
    width: 656px;
    height: 50px;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 35px;
    padding: 0px 21px;
    text-align: center;
    color: #000000;
}

.form-btn-forgot-password {
    width: 264px;
    height: 51px;
    padding: 4px 0px;
    background: var(--color-background);
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    color: #FFFFFF;
    margin-top: 6px;
}
/*#endregion*/

/* RESET-PASSWORD PAGE*/
/*#region*/
.form-reset-password-box {
    width: 826px;
    height: 537px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 85px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.reset-password-arrow-left-box {
    width: 37px;
    height: 37px;
    position: absolute;
    left: 31px;
    top: 35px;
    cursor: pointer;
    z-index: 4;
}

#form-reset-password-box-h1 {
    width: 627px;
    height: 97px;
}

.form-reset-password-box span {
    width: 589px;
    height: 25px;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: center;
    color: #000000;
}

.form-btn-reset-password {
    width: 264px;
    height: 51px;
    padding: 4px 0px;
    background: var(--color-background);
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    color: #FFFFFF;
    margin-top: 6px;
}
/*#endregion*/

/* NOTIFICATION - SECTION*/
/*#region*/
#notification-forgot-password-container {
    position: absolute;
    bottom: 0;
    width: 424px;
    height: 74px;
}

#notification-reset-password-container {
    position: absolute;
    bottom: 0;
    width: 350px;
    height: 74px;
}

#notification-login-container {
    position: absolute;
    bottom: 0;
    width: 350px;
    height: 74px;
}

.notification-container-animate {
    animation: showNotification 500ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes showNotification {
    from {
        top: 100vh;
    }

    to {
        top: calc(50vh - 74px/2)
    }
}

#notification-box {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 13px;
    background: var(--color-background);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.notification-reset-password-box {
    width: 350px;
    height: 74px;
}

.notification-forgot-password-box {
    width: 424px;
    height: 74px;
}

.notification-login-password-box {
    width: 350px;
    height: 74px;
}

.email-sent {
    width: 41px;
    height: 41px;
}

#notification-message {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
}

#email-address-not-found {
    color: red;
    font-size: 12px;
}
/*#endregion*/