/* GLOBAL */
/*#region*/
body {
    margin: 0;
    overflow: hidden;
}

.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
}

.form-input-container {
    width: 422px;
    min-height: 71px;
    margin-bottom: 29px;
}

.form-btn-box {
    width: 341px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
}
/*#endregion*/


/* JOIN ANIMATION CONTAINER - OPACITY*/
/*#region*/
.join-animation-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    opacity: 1;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-animation-container-animate {
    animation: animateJoinLogoContainer 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes animateJoinLogoContainer {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}
/*#endregion*/

/* JOIN ANIMATION LOGO - MOVE*/
/*#region*/

.join-logo-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    /* opacity: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.join-logo {
    position: fixed;
    top: 80px;
    left: 77px;
    width: 101px;
    height: 122px;
}

.join-logo-start {
    position: fixed;
    top: 50vh;
    left: 50%;
    margin-top: -61px;
    margin-left: -50.5px;
    width: 101px;
    height: 122px;
    scale: 2;
    z-index: 21;
}

.join-logo-animate {
    animation: animateJoinLogo 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes animateJoinLogo {
    0% {
        scale: 2;
    }

    /* 50% { left: 50%; top: 50%; } */
    100% {
        left: 77px;
        top: 80px;
        scale: 1;
        margin-top: 0;
        margin-left: 0
    }
}
/*#endregion*/

/* NOT A JOIN USER? - SIGN UP */
/*#region*/
.no-join-user-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 35px;
    position: absolute;
    width: 287px;
    height: 51px;
    /* left: 1039px; */
    right: 114px;
    top: 67px;
}

.no-join-user-box span {
    width: 161px;
    height: 25px;
    /* Version 2/t6 */
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sign-up-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 4px 16px; */
    gap: 10px;
    width: 91px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}
/*#endregion*/

/* SIGN UP */
/*#region*/
.form-signup-box {
    height: 559px;
    isolation: isolate;
    /* position: absolute; */
}

.signup-arrow-left-box {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 31px;
    cursor: pointer;
    top: 35px;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
}
/*#endregion*/

/* LOG IN */
/*#region*/
.form-login-box {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    /* gap: 35px; */
    position: absolute;
    width: 652px;
    height: 513px;
    /* left: 394px; */
    /* top: 274px; */
    /* white */
    background: #FFFFFF;
    /* shadow backlog box */
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.form-login-box h1 {
    width: 315px;
    height: 97px;
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    /* or 73px */
    text-align: center;
    color: #000000;
}

.separator {
    width: 157px;
    height: 35px;
    border-top: 3px solid #29abe2
}

.form-input-container span {
    color: red;
    font-size: 12px;
}

/*Avoid internal-autofill-selected:
  https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.form-input-box {
    width: 422px;
    height: 51px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    padding: 13px 21px;
    /* gap: 10px; */
    cursor: pointer;
}

.form-input-box input {
    width: 100%;
    height: 25px;
    border: none;
    outline: none;
    font-size: 21px;
    cursor: pointer;
}
/*#endregion*/

/* REMEMBER ME - FORGOT PASSWORD*/
/*#region*/
.remember-forgot-password-container {
    width: 335px;
    height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 6px;
    margin-bottom: 35px;
    padding: 0px;
    gap: 35px;
}
.remember-box {
    width: 146px;
    height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.remember-box input {
    width: 16px;
    height: 16px;
    /* Boton gradient */
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
    border: 1px solid #000000;
    border-radius: 3px;
    margin: 0;
}

.remember-box span {
    width: 110px;
    height: 19px;
    /* Version 2/body */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    color: #000000;
}

.remember-forgot-password-container a {
    width: 154px;
    height: 19px;
    color: #29ABE2;
    cursor: pointer;
}
/*#endregion*/

/* LOG IN - GUEST LOG IN - BUTTONS */
/*#region*/
.form-btn-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 145px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    cursor: pointer;
    color: #FFFFFF;
}

.form-btn-guest {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 10px;
    width: 164px;
    height: 51px;
    /* Version 2/ main color */
    border: 1px solid #2A3647;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    /* Version 2/ main color */
    color: #2A3647;
}
/*#endregion*/

/* FORGOT PASSWORD PAGE*/
/*#region*/
.form-forgot-password-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 85px;
    /* gap: 35px; */
    isolation: isolate;
    position: absolute;
    width: 826px;
    height: 462px;
    left: calc(50% - 826px/2);
    top: calc(50% - 462px/2 - 0.5px);
    border: 1px solid lightgrey;
    background: #FFFFFF;
    /* shadow backlog box */
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.forgot-password-arrow-left {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 31px;
    top: 34.5px;
    cursor: pointer;
    z-index: 4;
}

.form-forgot-password-box h1 {
    width: 626px;
    height: 97px;
    font-style: normal ;
    font-size: 61px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.form-forgot-password-box span {
    width: 656px;
    height: 50px;
    font-size: 21px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 35px;
    padding: 0px 21px;
    text-align: center;
    color: #000000;
}

.form-forgot-password-box button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 264px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;

}
/*#endregion*/

/* RESET PASSWORD PAGE*/
/*#region*/
.form-reset-password-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 85px;
    gap: 35px;
    isolation: isolate;
    position: absolute;
    height: 537px;
    left: 21.32%;
    right: 21.32%;
    top: calc(50% - 537px/2 - 0.5px);
    /* white */
    background: #FFFFFF;
    /* shadoe backlog box */
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.reset-password-arrow-left {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 31px;
    top: 35px;
    cursor: pointer;
    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
    z-index: 4;
}

.form-reset-password-box h1 {
    width: 627px;
    height: 73px;
    font-size: 61px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.form-reset-password-box span {
    width: 589px;
    height: 25px;
    font-size: 21px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 25px;
    text-align: center;
    color: #000000;
}

.form-reset-password-box button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 264px;
    height: 51px;
    background-color: #2A3647;
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;

}
/*#endregion*/

/* NOTIFICATION - SECTION*/
/*#region*/
#notification-forgot-password-container {
    position: absolute;
    bottom: 0;
    width: 424px;
    height: 74px;
}

#notification-reset-password-container {
    position: absolute;
    bottom: 0;
    width: 324px;
    height: 74px;
}

#notification-login-container {
    position: absolute;
    bottom: 0;
    width: 350px;
    height: 74px;
}

.notification-container-animate {
    animation: showNotification 500ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes showNotification {
    from {
        top: 100vh;
    }

    to {
        top: calc(50vh - 74px/2)
    }
}

#notification-box {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 13px;
    /* Version 2/ main color */
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.notification-reset-password-box {
    width: 324px;
    height: 74px;
}

.notification-forgot-password-box {
    width: 424px;
    height: 74px;
}

.notification-login-password-box {
    width: 350px;
    height: 74px;
}

.email-sent {
    width: 41px;
    height: 41px;
}

#notification-message {
    /* Version 2/t5 */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    /* identical to box height, or 28px */
    color: #FFFFFF;
}

#email-address-not-found {
    color: red;
    font-size: 12px;
}
/*#endregion*/