@media screen and (max-width: 810px) {

    .main-btns {
        margin-left: -19%;
        justify-content: space-between;
        flex-direction: row;
        width: 134%;
    }

    .menu-list {
        width: 35%;
        height: 89px;
    }

    .menu {
        justify-content: unset;
    }

    .main-container {
        width: 100%;
        top: 91vh;
    }

    .main-img {
        display: none;
    }

    .backgorund {
        background-color: #2A3647 !important;
    }

    #changeColor {
        width: 200px;
        height: 40px;

    }

    #changeColorboard {
        width: 200px;
        height: 40px;
    }

    #changeColorNotice {
        width: 200px;
        height: 40px;
    }

    .summary-logo {
        top: 7px;
        position: relative;
    }


    .headline-summary {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        margin-top: 9px;
    }

    .board-contianer {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100px;
        top: 365.47px;
    }

    .board-logo {
        top: 7px;
        position: relative;
        width: 22px;
        height: 26px;
        transform: rotate(-90deg);
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .headline-borad {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 52px;
        margin-top: -5px;
    }

    .addTask-contianer {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100px;
        top: 426.97px;

    }

    .task.div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 52px;
    }

    .addTask-logo {
        width: 30px;
        height: 30px;
        flex: none;
    }

    .headline-addTask {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 2px;
    }

    .task-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 50px;
    }

    .contacts-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 50px;
    }

    .main-headline {
        z-index: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 34px;
        position: absolute;
        width: 100%;
        height: 89px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }

    .main-headline-text {
        left: 348px;
        width: 335px;
        height: 25px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 120%;
        color: #000000;
    }

}


@media screen and (max-width: 517px){

    .main-btns{
        width: 119%;
        margin-left: -9%;
    }
    
}

@media screen and (max-width: 464px){
    .main-btns{
        width: 102%;
        margin-left: -5%;
    }
}

@media screen and (max-width: 400px) {
    .main-btns {
        margin-left: -13%;
        width: 110%;
    }
    .headline-summary {
        font-size: 10px !important;
        height: 47px !important;
        font-family: 'Inter';
    }

    .headline-borad {
        font-size: 10px !important;
        height: 47px !important;
        font-family: 'Inter';
    }

    .headline-addTask {
        font-size: 10px !important;
        height: 47px;
        font-family: 'Inter';
    }

    .headline-addTask {
        font-size: 10px;
        height: 47px;
        font-family: 'Inter';
    }
}

@media screen and (max-width: 375px) {
    .main-btns {
        margin-top: 14%;
        margin-left: 19%;
        width: 108%;
    }

    .main-container {
        height: 9.5%;
    }

    .main-container {
        margin-top: 0%;
    }

    .headline-summary {
        font-size: 10px !important;
        height: 47px !important;
        font-family: 'Inter';
    }

    .headline-borad {
        font-size: 10px !important;
        height: 47px !important;
        font-family: 'Inter';
    }

    .headline-addTask {
        font-size: 10px !important;
        height: 47px;
        font-family: 'Inter';
    }

    .headline-addTask {
        font-size: 10px;
        height: 47px;
        font-family: 'Inter';
    }

    .task-div {
        margin-top: 10px;
    }
}