body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}


h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.d-none {
    display: none;
}

.mt-6 {
    margin-top: 6px;
}