:root {
    --color-background: #2A3646;
    --color-form-background: #F5F5F5;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.d-none {
    display: none;
}

.mt-6 {
    margin-top: 6px;
}

.d-div {
    display: flex;
}