.summary-container {
    left: 355px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    width: 37%;
    top: 160px;
}

.reander-contianer-summary {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: 120%;
}


.head-of-summary {
    font-family: 'Inter';
    font-style: normal;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

}

.boxes {
    margin-top: 12%;
    justify-content: space-between;
    display: flex;
    position: relative;

}

.urgent-box {
    position: relative;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

}

.urgant {
    z-index: 1;
    margin-top: 0px;
    position: absolute;
}

.ellipse {
    z-index: 0;
    position: absolute;
}

.show-urgent {
    position: absolute;
    left: 230px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.deadline {

    left: 390px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.updead-line {
    margin-top: 20px;
    width: 148px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    color: #2A3647;
}

.toDo-done-box {
    margin-top: 5%;
    position: relative;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toDo-done {
    display: flex;
    width: 272px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 30px;
}

.head-summary {
    font-size: 50px;
}

.box {
    font-size: 30px;
    font-weight: bold;
}

.tasks-in-Board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    align-items: center;
    font-weight: normal;
    color: #2A3647;
    text-align: center;
}

.urgent-style-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.red-circel {
    position: relative;
    margin-right: 120px;
    justify-content: center;
    display: flex;
    align-items: center;
}