.summary-container {
    justify-content: space-between;
    display: flex;
    margin-top: 180px;
    flex-direction: column;
    margin-left: 353px;
    align-items: center;
}



.head-of-summary {
    font-family: 'Inter';
    font-style: normal;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
  display: flex;
    
}

.head-of-summary {
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 115px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

}

.boxes {
    justify-content: space-between;
    display: flex;
   
    
    top: 300px
}

.urgent-box {
    
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 28px 48px;
    width: 365px;
    height: 115px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

}

.urgant {
  
    left: 112px;
    z-index: 1;
}

.ellipse {
    z-index: 0;
    position: absolute;
    left: 100px;
}

.show-urgent {
    position: absolute;
    left: 230px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.deadline {
    
    left: 390px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.updead-line {
    margin-top: 20px;
    width: 148px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    color: #2A3647;
}

.toDo-done-box {
    width: 463px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    left: 355px;
    margin-top: 340px;
}

.toDo-done {
    display: flex;
    width: 180px;
    height: 115px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 30px;
}

.head-summary {
    font-size: 50px;
}