:root {
    --form-elements-default-width: 428px;
}

/* TASK-CATEGORY-COLOR*/
/*#region*/
.sales {
    background-color: #FC71FF;
}

.backoffice {
    background-color: #1FD7C1;
}

.marketing {
    background-color: #00FF00;
}


/*#endregion*/

/* TASK-PRIORITY-COLOR*/
/*#region*/
.low {
    background-color: #7AE229;
}

.medium {
    background-color: #FFA800;
}

.urgent {
    background-color: #FF3D00;
}

/*#endregion*/

/* GLOBAL */
/*#region*/
.current-task-container {
    /*display: none; Hidden by default */
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.form-input-box {
    width: var(--form-elements-default-width);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 13px 21px;
    cursor: pointer;
}


.form-input-box input {
    width: 100%;
    height: 25px;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-size: 21px;
    cursor: pointer;
}

.form-input-box textarea {
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-size: 21px;
    cursor: pointer;
}

.task-priority-box {
    width: 131px;
    height: 33px;
    padding: 4px 18px;
    gap: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
}

.task-priority-box span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-family: 'Inter';
    font-size: 21px;
    color: #FFFFFF;
}

.task-priority-box img {
    width: 17px;
    height: 12px;
}

.black {
    color: #000000 !important;
}

.white {
    color: #FFFFFF !important;
}

.white-bg {
    background-color: #FFFFFF;
}

/*#endregion*/



/* CURRENT-TASK: SHOW-MODE*/
/*#region*/
.current-task-show-box {
    width: 623px;
    min-height: 824px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto auto;
    padding: 50px;
    gap: 25px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.current-task-show-close-img {
    position: absolute;
    width: 21.65px;
    height: 21.65px;
    right: 34px;
    top: 40px;
}

.current-task-show-header {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 36.5px;
    gap: 10px;
    border-radius: 8px;
}

.current-task-show-header span {
    /* width: 69px; */
    /* height: 32px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    color: #FFFFFF;
}

.current-task-show-title h2 {
    width: 523px;
    height: 146px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: var(--color-background);
}

.current-task-show-description span {
    width: 518px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #000000;
}

.current-task-show-label {
    width: 140px;
    height: 25px;
    float: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color: #000000;
}

.current-task-show-duedate span:nth-child(2) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #000000;
}

.current-task-show-assignedto-contact-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
}

.current-task-show-assignedto-letter-box {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px 8px; */
    gap: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 58px;
}

.current-task-show-assignedto-letter-box span {
    /* width: 22px; */
    /* height: 19px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.current-task-show-assignedto-contactname-box {
    margin-left: 25px;
}

.current-task-show-assignedto-contactname-box span {
    /* width: 161px; */
    /* height: 25px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    color: #000000;
}

.current-task-show-edit-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;
    position: absolute;
    width: 57px;
    height: 57px;
    right: 34px;
    bottom: 30px;
    background: var(--color-background);
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}

/*#endregion*/


/* CURRENT-TASK: EDIT-MODE*/
/*#region*/
.current-task-edit-box {
    width: 623px;
    min-height: 824px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto;
    padding: 50px;
    gap: 15px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.current-task-edit-box label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-family: 'Inter';
    font-size: 21px;
    color: #000000;
}

.current-task-edit-priority {
    width: var(--form-elements-default-width);
}

.current-task-edit-assigned {
    width: var(--form-elements-default-width);
}

.current-task-edit-close-img {
    position: absolute;
    width: 21.65px;
    height: 21.65px;
    left: 574.31px;
    top: 34px;
}


.current-task-edit-ok-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;
    position: absolute;
    width: 66px;
    height: 47px;
    right: 34px;
    bottom: 30px;
    background: var(--color-background);
    border-radius: 10px;
}

.current-task-edit-ok-box button {
    width: 48px;
    border: 0;
    background-color: var(--color-background);
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.current-task-edit-ok-box img {
    width: 15px;
    height: 15px;
}

/*#endregion*/


/* CURRENT-TASK: EDIT-MODE - DROPDOWN*/
/*#region*/
.assigned-to-select-box {
    position: relative;
}

.assigned-to-select-box select {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #000000;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#assigned-to-select-options {
    display: none;
    border: 0.5px #d1d1d1 solid;
    max-height: 159px;
    overflow-y: scroll;
}

#assigned-to-select-options label {
    display: block;
    padding: 0 0.75rem;
}

#assigned-to-select-options label:hover {
    background-color: #d1d1d1;
}

#assigned-to-multiselect-selected {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-left: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}

/*#endregion*/



/* NEW-TASK: - DROPDOWN*/
/*#region*/
.new-task-assigned-to-select-box {
    position: relative;
}

#new-task-assigned-to-select-options {
    display: none;
    border: 0.5px #d1d1d1 solid;
    max-height: 159px;
    overflow-y: scroll;
    position: relative;
    z-index: 1;
    background-color: #FFFFFF;
}

#new-task-assigned-to-select-options label {
    display: block;
    padding: 0 0.75rem;
}

#new-task-assigned-to-select-options label:hover {
    background-color: #d1d1d1;
}

#new-task-assigned-to-multiselect-selected {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-left: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    z-index: 1;
}

/*#endregion*/