.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 103px;
    position: absolute;
    width: 200px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: #2A3647;
}

.main-img {
    padding-top: 66px;
    width: 100.03px;
    height: 121.97px;
}