.main-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 103px;
    position: absolute;
    width: 200px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: #2A3647;
}

.main-img {
    padding-top: 66px;
    width: 100.03px;
    height: 121.97px;
}

.summary-logo {
    top: 303.14px;
    left: 54px;
}

.summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.headline-summary {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.board-contianer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    top: 365.47px;
}

.board-logo {
    width: 22px;
    height: 26px;
    transform: rotate(-90deg);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.headline-borad {
    width: 53px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #CDCDCD;
}

.addTask-contianer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    top: 426.97px;

}

.addTask-logo {
    width: 30px;
    height: 30px;
    flex: none;
}

.headline-addTask {
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #CDCDCD;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.main-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
    position: absolute;
    width: 100%;
    height: 89px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.main-headline-text {
    left: 348px;
    position: absolute;
    width: 335px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}